
<div id="todoList">
	<h2>To Do</h2>
	<div id="addItemElement">
		<p class="greenButton" id="addNewItemButton">Add</a>
	</div>
	<div id="listItemsContainer">
		<%= render :partial => 'list_items/listContainer', :object => @listitems %>
	</div>
	
</div>

<div id="addItemPopup">
	<div>
		<img src="<%= image_path('delete.png') %>" id="closeButton" class="b-close">
		<p class="popupText">Name your task</p>
		<p>
		<%= form_for ListItem.new do |f| %>
		    <%= f.text_field :label %>
		    <p>
		    <%= f.submit "Create", :class => 'greenButton'%>
		<% end %>
	</div>
</div>
